* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #150aa6;
  --lightgrey-color: #f2f2f2;
  --light-blue-color: #477fdc;
  --main-color2: #112f58;
  --red-color: #d60038;
  --light-color: #fff;
  --primary-color: #5d5fef;
  --green-color: #4ab58e;
}

body {
  background-color: #000;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

.App {
  min-height: 100vh;
  background-color: #000;
}

/* Font Sizes */
.font-10 {
  font-size: 10px;
}

.font-11 {
  font-size: 11px;
}

.font-12 {
  font-size: 12px;
}

.font-13 {
  font-size: 13px;
}

.font-14 {
  font-size: 14px;
}

.font-15 {
  font-size: 15px;
}

.font-16 {
  font-size: 16px;
}

.font-17 {
  font-size: 17px;
}

.font-18 {
  font-size: 18px;
}

.font-19 {
  font-size: 19px;
}

.font-20 {
  font-size: 20px;
}

/* Font Weights */
.font-weight-400 {
  font-weight: 400;
}

.font-weight-500 {
  font-weight: 500;
}

.font-weight-600 {
  font-weight: 600;
}

.font-weight-700 {
  font-weight: 700;
}

.font-weight-800 {
  font-weight: 800;
}